{% extends "base.twig" %}
{% block content %}
    <div class="page-header">
        <h1><i class="glyphicon glyphicon-info-sign"></i> Acerca de nosotros</h1>
    </div>
    <p style="font-size: 1.3em;">
        <strong>AddDate</strong> es una página web creada por y para los alumnos,
        que permite la publicación y visualización de la calendarización de exámenes en la Universidad.
        <br/>
        Fue creada con el fin de facilitarles a los alumnos esta información.
        <br/>
        Permitiendo un formato digital y más amigable con el usuario
    </p>
{% endblock %}