{% extends "base.twig" %}
{% block content %}
    <div class="page-header">
        <h1><i class="glyphicon glyphicon-question-sign"></i> Preguntas frecuentes</h1>
    </div>
    <br/>
    <h3>¿Qué es esto?</h3>
    <p>
        Esto es ¡<strong>AddDate</strong> por supuesto!, es una herramienta online para la publicación de calendarios!
    </p>
    <h3>¿Qué significa AddDate?</h3>
    <p>
        Literalmente “Agregar Fechas”, es un acrónimo que ideamos para hacer más atractivo al publico nuestro proyecto.
    </p>
    <h3>¿Cómo funciona esta cosa?</h3>
    <p>
        La pagina web esta programa usando como principal lenguaje el PHP,
        con una serie de clases métodos y objetos que en conjunto forman un gran dolor de cabeza al programar,
        pero hey! funciona bien, además de PHP también se usaron una serie de librerías de terceros como,
        Twitter boostrap, Twig, jQuery entre algunas otras.
    </p>
    <h3>¿Técnicamente que tan grande es este proyecto?</h3>
    <p>
        Un total de 37 archivos PHP, 3,198 lineas de codigo, 89 clases y 20 metodos.
    </p>
    <h3>¿Cuánto tiempo les tomo crear el proyecto?</h3>
    <p>
        Este proyecto finalizo en el transcurso de 3 meses, los cuales 2 fueron la elaboración
        del documento y capacitación de los involucrados en los lenguajes de programación,
        la parte técnica de elaboración alrededor de 2 semanas, ¡yep!
    </p>
    <h3>¿Fue difícil crear este proyecto?</h3>
    <p>
        No lo describimos como algo complicado de hacer, simplemente es algo tedioso y lento.
        Nada que suficiente tiempo y esfuerzo no solucionen.
    </p>
    <h3>¿Quiénes crearon esta página web?</h3>
    <p>
        Un grupo de estudiantes de IV Año de Ing. En Sistemas de la Universidad Martin Lutero sede Ocotal, claro!
    </p>
    <h3>¿Qué planes futuros tienen para este proyecto?</h3>
    <p>
        De que funcione es más que suficiente la pagina web y todo su código fuente será liberada
        al publico así que ellos puedes hacer lo que quieran con ella, ¡que la disfruten!
    </p>
{% endblock %}