{% extends "base.twig" %}
{% block content %}
    <div class="page-header">
        <h1>Sesión iniciada correctamente</h1>
    </div>
    <div class="alert alert-success" role="alert">
        <p>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            Tu clave de acceso fue correcta ya puedes acceder al área de administración <strong><a href="/admin/">aquí</a></strong>
        <p/>
    </div>
{% endblock %}
