{% extends "base.twig" %}
{% block content %}
    <div class="page-header">
        <h1>Ingresa tu clave de acceso para continuar</h1>
    </div>
    {% include('pages/admin/login/form.twig') %}
{% endblock %}
